<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Anmol Raina messaging app</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Bootstrap Core CSS -->

    <!-- Custom CSS -->
    <link href="static/css/simple-sidebar.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body data-spy="scroll"  data-offset="50">

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="#home">Home</a>
                    </li>
                    <li>
                        <a href="#anch1">Name</a>
                    </li>
                    <li>
                        <a href="#anch2">Address</a>
                    </li>
                    <li>
                        <a href="#anch3">Message</a>
                    </li>
                    <li>
                        <a href="#anch4">Preview/Send</a>
                    </li>
                   
                </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
             <div class="row container-fluid" >
               
           {{ value }}
            
            </div>
        <!-- /#page-content-wrapper -->
        <div id="page-content-wrapper row">
        <button class="btn btn-success btn-send" id ="myButton">
        Return to app
        </button>

        <script type="text/javascript">
            document.getElementById("myButton").onclick = function () {
                                                            location.href = '/';
                                                            };
        </script>
        </div>

         </div>
    <!-- /#wrapper -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- jQuery -->
    <script src="static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>

    <script src="static/js/script.js"></script>

    

</body>

</html>
